@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --ds-color-bg-primary:#3C9AF0;
    --ds-color-bg-secundary: #C8C8C8;
    --ds-color-bg-terciary: #FFF;

    --ds-color-font-primary: #FFF;
    --ds-color-font-secundary: #5E5E5E;
    --ds-color-font-terciary:#3C9AF0;

    --ds-color-border-primary: #3C9AF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.ds-container {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
}